<!DOCTYPE html>
<html>

<head>
  <title>General Assembly</title>
  <meta charset="utf-8">
  <base target="_parent">
  <link rel="stylesheet" href="https://{{ site.github.owner_name }}.{{ site.github.pages_hostname }}/universal-resources-internal/static/css/prework-styling.css">
  <script type="text/javascript" charset="utf8" async="" src="https://fast.wistia.com/assets/external/E-v1.js"></script>
  <script type="text/javascript" id="www-widgetapi-script" src="https://www.youtube.com/s/player/31eb286a/www-widgetapi.vflset/www-widgetapi.js" async=""></script>
<script
src="https://{{ site.github.owner_name }}.{{ site.github.pages_hostname }}/universal-resources-internal/static/js/anchor.min.js"
></script>
</head>
<body>
    {{content}}
    <button id="next-button" aria-label="next"><span role="img" title="Next" class="anticon"><svg viewBox="0 0 16 16"
      width="2em" height="2em" fill="currentColor" aria-hidden="true" focusable="false" class="">
      <path d="M9.3 1.3L7.9 2.7 12.2 7H0v2h12.2l-4.3 4.3 1.4 1.4L16 8z">
      </path>
</svg></span></button>
<button id="previous-button" aria-label="previous"><span role="img" title="Previous" class="anticon"><svg
      viewBox="0 0 16 16" width="2em" height="2em" fill="currentColor" aria-hidden="true" focusable="false" class="">
      <path d="M6.7 14.7l1.4-1.4L3.8 9H16V7H3.8l4.3-4.3-1.4-1.4L0 8z"></path>
</svg></span></button>
  <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js"></script>
  <script src="https://{{ site.github.owner_name }}.{{ site.github.pages_hostname }}/universal-resources-internal/static/js/pre-work-slides-functionality.js"></script>
  <link
  rel="stylesheet"
  href="https://{{ site.github.owner_name }}.{{ site.github.pages_hostname }}/universal-resources-internal/static/css/code-theme.min.css"
/>
  </script>

</body>


</html>